{% extends 'base.html' %}

{% block head %}
<title>Jesse's Task Admin</title>
{% endblock %}

{% block body %}
<div class="content">
  <h1 style="text-align: center">Update Task</h1>

  <div class="form">
    <form action="/update/{{task.id}}" method="POST">
      <input type="text" name="content" id="content" placeholder="Task Description" value="{{task.content}}" style="width:60%">
      <input type="text" name="author" id="author" placeholder="Author" value="{{task.author}}" style="width:20%">
      <input type="submit" value="Update">
    </form>
  </div>
</div>
{% endblock %}